@use '../util' as *;

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  margin-block-end: rem(8);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);
  max-width: rem(383);

  &-error {
    color: var(--error);
    font: var(--text-preset-6);
    font-weight: 500;
  }

  &-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: rem(8);
    flex: 0 0 auto;

    &:has(.date) {
      width: rem(168);
      flex-direction: row;

      .date {
        width: rem(46);
      }
    }

    &:has(.cvc) {
      width: rem(191);
    }

    &-inline {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: rem(24);
    }
  }

  &-group-fieldset {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(24);
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
  }

  &-label {
    text-transform: uppercase;
    color: var(--clr-gray-950);
    font: var(--text-preset-5);
    letter-spacing: var(--text-preset-5-ls);
  }

  &-control {
    display: flex;
    align-items: center;
    background: transparent;
    border: rem(1) solid var(--clr-gray-200);
    color: var(--clr-gray-950);
    height: rem(45);
    border-radius: rem(8);
    padding-inline: rem(16);

    &.is-invalid {
      border-color: var(--clr-red-400);
    }

    &::placeholder {
      font: var(--text-preset-3);
      color: var(--clr-gray-950);
      opacity: 0.25;
    }

    &:focus {
      border-color: var(--clr-border-focus);
    }
  }

  &-complete {
    width: 100%;
    max-width: 381px;
    text-align: center;

    h2 {
      margin-block-end: rem(24);
      font: var(--text-preset-1);
      line-height: var(--text-preset-1-lh);
      text-transform: uppercase;
    }

    p {
      color: var(--clr-gray-400);
      font: var(--text-preset-3);
      margin-block-end: rem(48);
    }
  }

  &-icon {
    margin-block-end: rem(32);
  }
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
