@use '../util' as *;

.header {
  background-image: url('../../../public/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: rem(208);
  padding-block-start: rem(32);
  padding-inline: rem(16);

  @include breakpoint(tablet) {
    height: rem(308);
    padding-inline: rem(112);
  }

  @include breakpoint(desktop) {
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../../../public/images/bg-main-desktop.png');
    height: 100%;
    width: rem(483);
    margin: 0;
    padding: 0;
  }
}

.card {
  position: relative;
  max-width: rem(343);
  margin-inline: auto;

  @include breakpoint(tablet) {
    max-width: rem(543);
  }

  @include breakpoint(desktop) {
    position: absolute;
    left: rem(164);
    width: rem(541);
    height: rem(522);
    flex-shrink: 0;
  }

  &__logo {
    svg {
      width: rem(51.77);
      height: rem(30);
      margin-block-end: rem(24);
    }

    @include breakpoint(tablet) {
      svg {
        width: rem(84.09);
        height: rem(47);
        margin-block-end: rem(40);
      }
    }
  }

  &__number {
    font: var(--text-preset-2);
    letter-spacing: var(--text-preset-2-ls);

    @include breakpoint(tablet) {
      font: var(--text-preset-1);
      letter-spacing: var(--text-preset-1-ls);
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--text-preset-7);
    letter-spacing: var(--text-preset-7-ls);

    @include breakpoint(tablet) {
      font: var(--text-preset-4);
      letter-spacing: var(--text-preset-4-ls);
    }
  }

  &__front,
  &__back {
    position: absolute;
    width: rem(285);
    height: rem(156.21);

    @include breakpoint(tablet) {
      width: rem(447);
      height: rem(245);
    }
  }

  &__back {
    position: absolute;
    top: 0;
    right: 0;

    &-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: var(--clr-white);
      right: 14%;
      font: var(--text-preset-7);
      letter-spacing: var(--text-preset-7-ls);

      @include breakpoint(tablet) {
        font: var(--text-preset-8);
        letter-spacing: var(--text-preset-8-ls);
      }
    }

    @include breakpoint(desktop) {
      top: initial;
      bottom: 0;
      right: 0;
    }
  }

  &__front {
    position: absolute;
    top: rem(87);
    left: rem(0);
    z-index: 2;

    &-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: rem(16);
      padding: rem(15) rem(18);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: var(--clr-white);
    }

    @include breakpoint(tablet) {
      top: rem(139);

      &-text {
        padding: rem(24) rem(32);
        gap: rem(24);
      }
    }

    @include breakpoint(desktop) {
      top: 0;
      left: 0;
    }
  }
}
